<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
	xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:int-stream="http://www.springframework.org/schema/integration/stream"
	xmlns:int-jdbc="http://www.springframework.org/schema/integration/jdbc"
	xmlns:int-http="http://www.springframework.org/schema/integration/http"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/integration
  http://www.springframework.org/schema/integration/spring-integration.xsd
  http://www.springframework.org/schema/integration/stream
  http://www.springframework.org/schema/integration/stream/spring-integration-stream.xsd
  http://www.springframework.org/schema/integration/jdbc
  http://www.springframework.org/schema/integration/jdbc/spring-integration-jdbc.xsd
  http://www.springframework.org/schema/integration/http
  http://www.springframework.org/schema/integration/http/spring-integration-http.xsd">


<!-- START: RECEIVED MESSAGE SENT TO YUCCA RT   -->
<int:publish-subscribe-channel  id="yuccaLikeRtChannel"/>

<int:chain input-channel="yuccaLikeRtChannel">
	<int:header-enricher >
		<int:header name="gwId" expression="headers.id" overwrite="true"/>
		<int:header name="gwTimestamp" expression="headers.timestamp" overwrite="true"/>
		<int:header name="gwStatus" value="GW_RECEIVED" overwrite="true"/>
	</int:header-enricher>
	<int:recipient-list-router>
		<int:recipient channel="toInsertChannel" />
		<int:recipient channel="toYuccaRTChannel"/>
	</int:recipient-list-router>
</int:chain>

<int:channel  id="toInsertChannel"/>
<int:chain input-channel="toInsertChannel">
	<int:object-to-map-transformer />
	<int-jdbc:outbound-channel-adapter data-source="dataSource" 
		query="INSERT INTO  events (GW_ID , GW_INSERT_TIMESTAMP , GW_STATUS, SOURCE_CODE , STREAM_CODE, IS_APPLICATION, VALUES_JSON ) 
				VALUES (:headers[gwId],:headers[gwTimestamp],:headers[gwStatus],:payload[sourceCode],:payload[streamCode], :payload[application], :payload[measures])" />
</int:chain>

<int:channel  id="toYuccaRTChannel"/>
<int:object-to-string-transformer input-channel="toYuccaRTChannel" output-channel="toYuccaRTChannelString" />
<int:channel  id="toYuccaRTChannelString"   datatype="java.lang.String">
	<int:queue capacity="100"/>
</int:channel>

<!-- Tra toYuccaRTChannel e outputYuccaChannel o  outputFailureYuccaChannel è presente il realYuccaHandler configurato con annotation --> 

<!-- END: RECEIVED MESSAGE SENT TO YUCCA RT   -->
<!-- START: RESPONSE RECEIVED FROM YUCCA IS SAVED ON DB    -->

<int:publish-subscribe-channel  id="outputYuccaChannel"/>
<int:logging-channel-adapter channel="outputYuccaChannel" log-full-message="true" logger-name="outputYuccaChannel"/>

<!-- Inserire la logica di verifica funzionale (HTTP 202 o HTTP 503)  -->

<int:header-enricher  input-channel="outputYuccaChannel" output-channel="toUpdateChannel">
	<int:header name="gwStatus" value="SENT_RT" overwrite="true" ></int:header>
</int:header-enricher>


<int:publish-subscribe-channel  id="outputFailureYuccaChannel" />
<int:logging-channel-adapter channel="outputFailureYuccaChannel" log-full-message="true" logger-name="outputFailureYuccaChannel"/>

<int:chain input-channel="outputFailureYuccaChannel" output-channel="toUpdateChannel">
	<int:transformer  expression="payload.failedMessage" />
	<int:header-enricher  >
		<int:header name="gwStatus" value="SENDING_FAILED" overwrite="true" ></int:header>
	</int:header-enricher>
</int:chain>
	
<int:publish-subscribe-channel  id="toUpdateChannel"/>
<int:logging-channel-adapter channel="toUpdateChannel" log-full-message="true" logger-name="toUpdateChannel"/>
<int-jdbc:outbound-channel-adapter  channel="toUpdateChannel" data-source="dataSource" 
	query="UPDATE events set GW_STATUS = :headers[gwStatus], LAST_RESPONSE = :headers[error] WHERE GW_ID = :headers[gwId] " />
	
<!-- END: RESPONSE RECEIVED FROM YUCCA IS SAVED ON DB    -->

<!-- START: MESSAGES TO SEND TO YUCCA A2A ARE SENT   -->

<int-jdbc:inbound-channel-adapter data-source="dataSource" query="select * from events where GW_STATUS = 'SENDING_FAILED' "
	update="UPDATE events set GW_STATUS = 'SENDING_A2A_PROGRESS' WHERE GW_ID IN (:GW_ID)" 
	channel="toSendA2AChannel" 
	max-rows-per-poll="2"
	update-per-row="true"
	update-sql-parameter-source-factory="parameterSourceFactory"
>
	<int:poller fixed-delay="10000">
		<int:transactional/>
	</int:poller>
</int-jdbc:inbound-channel-adapter>



<beans:bean id="parameterSourceFactory"
		class="org.springframework.integration.jdbc.ExpressionEvaluatingSqlParameterSourceFactory">
	<beans:property name="parameterExpressions">
		<beans:map>
			<beans:entry key="GW_BATCH_GROUP_ID" value="new java.util.Date()" />
		</beans:map>
	</beans:property>
</beans:bean>

<int:publish-subscribe-channel  id="toSendA2AChannel"/>
<int:logging-channel-adapter channel="toSendA2AChannel" log-full-message="true" logger-name="toSendA2AChannel"/>



</beans:beans>